@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.background-image
{
    background-image: url('https://cdn.pixabay.com/photo/2017/07/31/23/45/pen-2562078__340.jpg');
    background-position: center center ;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     height:600px;
}
